@page "/MovieSection"
@inject MovieService MovieService
@inject BookService BookService

<PageTitle>Movies</PageTitle>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kapakana:wght@300..400&family=Pinyon+Script&display=swap" rel="stylesheet">
</head>

<div class="title">
    <h1 class="text-center">Moviely</h1>
</div>

<div class="movies-section">
<div class="container">
    <div class="search-bar">
<input type="text" @bind="userMovieInput" placeholder="Enter Movie Title..."/>
<button @onclick="SubmitUserInput">Search</button>
<button @onclick="ViewBooks">View Books</button>
        </div>

        @if (movie != null)
        {
            <div class="movie-card">
                <h2>@movie.Title</h2>
                <p><strong>IMDB ID:</strong>@movie.imdbID</p>
                <p><strong>Year:</strong> @movie.Year</p>
                <p><strong>Director:</strong> @movie.Director</p>
                <p><strong>Genre:</strong> @movie.Genre</p>
                <p><strong>Plot:</strong> @movie.Plot</p>
            </div>
        }
        else
        {
            <p>No movies available</p>
        }

        <div class="favourite-books">
            <h2>Favourites</h2>
            @foreach (var favourite in favouriteBooks)
            {
                <span>@favourite.title</span><br />
            }
        </div>
    </div>
    </div>

    

    <div class="books-section">
        <div class="container">
        <h1 class="text-center">Book Section</h1>
        @if (bookResult != null)
        {
            <button @onclick="SortBooks">Sort Books</button>
                <h2>@bookResult.q Books</h2>
                <strong>Number of Books: @bookResult.numFound</strong>
                <div class="book-grid">
                    @foreach (var doc in bookResult.docs)
                {
                    <div class="book-card">
                        <h4>@doc.title</h4><br />
                        @if(doc.author_name != null)
                        {
                            <span>Author:</span>
                            @foreach(var author in doc.author_name)
                            {
                               author.ToString();
                              <span>@author,</span> 
                            }
                        }
                        <br />
                        <span>Publish Year: @doc.first_publish_year</span><br />
                        
                        @if(doc.ebook_access == "printdisabled" || doc.ebook_access == "no_ebook"){
                            doc.ebook_access = "No Ebook";
                        }else{
                            <span>Type: @doc.ebook_access</span>
                        }
                        
                        @if(doc.ebook_provider != null)
                        {
                            <span>Provider: @doc.ebook_provider</span>
                        }
                        <button @onclick="() => AddToFavourites(doc)">Favourite</button>
                </div>
                }
            </div>
            }
        else
        {
            <p>No books available.</p>
        }
            </div>
            </div>

@code {
    private string userMovieInput = string.Empty;
    public Movies? movie;

    private Rootobject? bookResult;
    private List<Books> books = new();

    private List<Doc> favouriteBooks = new();
    Boolean IsFavouriteBook = true;

    async Task SubmitUserInput()
    {
        if (!string.IsNullOrWhiteSpace(userMovieInput))
        {
            movie = await MovieService.GetMovieAPI(userMovieInput);
        }
    }

    async Task ViewBooks()
    {
        if(movie != null && !string.IsNullOrWhiteSpace(movie.Title))
        {
            bookResult = await BookService.GetBooksAPI(movie.Title);
        }
    }

    private void AddToFavourites(Doc book)
    {
        if (IsFavouriteBook && !favouriteBooks.Contains(book))
        {
            favouriteBooks.Add(book);
        }
    }

    private void SortBooks()
    {
        books.Sort();
    }
}

   

