@page "/MovieSection"
@inject MovieService MovieService

<PageTitle>Movies</PageTitle>

<h2>Movie Section</h2>

@* <input placeholder="Enter Movie Title" @bind="movie.Title"/> *@
@* <p>you typed: @movie.Title</p> *@
@* <button @onclick="SubmitMovieTitle">Submit</button> *@

    @* @foreach (var movie in movies)
    {
        <li>
            @movie.MovieTitle 
        </li>
    } *@
    @if(movie == null)
    {
       <p>No movies available</p>
    }
    else
    {
        <ul>
            <li>Title: @movie.Title</li>
            <li>Year: @movie.Year</li>
            <li>Director: @movie.Director</li>
            <li>Genre: @movie.Genre</li>
            <li>Plot: @movie.Plot</li>
        </ul>
    }

@code {
    private Movies movie;

    protected override async Task OnInitializedAsync()
    {
        movie = await MovieService.GetMovieAPI();
    }
    }

   

